html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

/* N-HELPERS  */
.n-border-pink {
  border: 2px solid pink;
}

.n-border-orange {
  border: 2px solid orangered;
}

.n-border-red {
  border: 2px solid red;
}

.n-border-purple {
  border: 2px solid purple;
}

.n-border-green {
  border: 2px solid green;
}

.n-border-blue {
  border: 2px solid blue;
}

.n-border-yellow {
  border: 2px solid yellow;
}

.n-width-complete {
  width: 100%;
}
